/* Add CSS Styling */

.odd {
    background-color: #FFB6C1;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second_element{
    color: #00BFFF;
    font-size: 36px;
}

#third_element{
    font-size: 24px;
}

#forth_element{
    background-color: #90EE90;
    font-size: 24px;
    font-weight: bold;
}